body {
    color: black;
    text-align: center;
    font-family: Courier;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#Cabecera {
    background: #aaf;
    color: black;
    box-shadow: 0px 5px 30px 0px  rgba(red, green, blue, alpha);
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 0,5em;
}


#container {

    width: 70%;
    padding: 0; 
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
} 



#container h1 {

    font-size: 20px;

}

#post {


}